.inputs {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.titulo {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 20px;
}

.card {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  align-items: center;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 150px;
  margin-bottom: 50px;
  justify-content: center;
}

.divsInputs {
  width: 70%;
}

.divcentrar {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btnCreate {
  background-color: #00AA00; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth hover effect */
  font-size: 18px; /* Adjust the font size as needed */
  margin: 20px;
}

.btnCreate:hover {
  background-color: #008000; /* Hover background color */
}

.links{
  text-decoration: none;
  color: blue;
}

.links:visited{
  color:darkcyan;
}

.links:hover{
  text-decoration: underline;
}
