.imgcenote {
    border-radius: 5px 5px 0 0;
    width:200px;
    height: 200px;
    display: flex;
    align-self: center;
}

li{
    list-style:none 
}

.linkTxt{
    text-decoration: none;
    color: darkolivegreen;
}

h2{
    font-size: medium;
}