
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.sliderContainer {
    display: flex;
    width: 100%;
    height: 600px;
    overflow-x: hidden;
    animation: cambio 5s infinite alternate linear;
}

.sliderContainer ul {
    display: flex;
    animation: cambio 20s infinite alternate linear;
    width: 400%;
}

.sliderContainer li{
    width: 100%;
    list-style: none;
}

.sliderContainer img {
    height: 100%;
    width: 100%;
}

.divCentrar{
    width: 100%;
    display: flex;
    justify-content: center;
}

@keyframes cambio {
    0%{margin-left: 0;}
    20%{margin-left: 0;}
    25%{margin-left: -100%;}
    45%{margin-left: -100%;}
    50%{margin-left: -200%;}
    70%{margin-left: -200%;}
    75%{margin-left: -300%;}
    100%{margin-left: -300%;}

    
}