

.divCentrar{
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.divimagen{
    display: flex;
    justify-content: center;
    
}

img{
    width: 300px;
    height: 300px;
}
